<!--content-->
<div class="content">
    <!--contact-->
    <div class="mail-w3ls">
        <div class="container">
            <div class="mail-top">
                <h2 class="tittle">Thank You for contacting us</h2>
            </div>
            &nbsp; &nbsp; &nbsp;
            <div class="mail-bottom">
                <h4>If you have not received a response from us within 48 hours, you can always follow us on <a href="mailto:udiimports@gmail.com" style="color: #000fff;">udiimports@gmail.com</a></h4>
            </div>
        </div>
    </div>
    <!--contact-->
</div>
<!--content-->
