<h2>Shipping Options:</h2>
<!-- <button ng-click="$ctrl.testPayment()">Pay Test Save Thing</button> -->
<table class="table">
  <thead>
    <th>#</th>
    <th>Service Name</th>
    <th>Price</th>
    <th>Delivery Date</th>
  </thead>
  <tbody>
    <tr ng-repeat="option in $ctrl.options">
      <td>{{$index+1}}</td>
      <td><span class="radio"><label><input type="radio" name="optradio" ng-model="$ctrl.selOption" value="{{option}}">{{option.service.name}}</label></span></td>
      <td>{{option.price.total}}</td>
      <td>{{option.serviceStandard.expectedDeliveryDate | date}}</td>
    </tr>
  </tbody>
</table>
<div>
  <button class="btn btn-main" " ng-click="$ctrl.addShipping() " style="margin-left: 12%;">
  Select</button></div>
<view-footer msg="{{$ctrl.errMsg}} "></view-footer>