.btn-main {
    color: white;
    background-color: #1565C0;
    border-color: #1565C0;
}
.price-line {
    color: #5c5353 !important; 
    font-weight: 600 !important;
}
input.cart-quantity {
    width: 14%;
    text-align: center;
}